<#import "template.ftl" as layout>
<@layout.registrationLayout displayMessage=!messagesPerField.existsError('password','password-confirm'); section>
    <#if section = "header">
        ${msg("updatePasswordTitle")}
    <#elseif section = "form">
    <div id="kc-form">
      <div id="kc-form-wrapper">
        <#if messagesPerField.existsError('password','password-confirm')>
          <div id="error-block" class="${properties.kcBlockErrorMessageClass!}" aria-live="polite">
              <svg fill-rule="evenodd" viewBox="64 64 896 896" focusable="false" data-icon="close-circle" width="1em" height="1em" fill="#ff4d4f" aria-hidden="true"><path d="M512 64c247.4 0 448 200.6 448 448S759.4 960 512 960 64 759.4 64 512 264.6 64 512 64zm127.98 274.82h-.04l-.08.06L512 466.75 384.14 338.88c-.04-.05-.06-.06-.08-.06a.12.12 0 00-.07 0c-.03 0-.05.01-.09.05l-45.02 45.02a.2.2 0 00-.05.09.12.12 0 000 .07v.02a.27.27 0 00.06.06L466.75 512 338.88 639.86c-.05.04-.06.06-.06.08a.12.12 0 000 .07c0 .03.01.05.05.09l45.02 45.02a.2.2 0 00.09.05.12.12 0 00.07 0c.02 0 .04-.01.08-.05L512 557.25l127.86 127.87c.04.04.06.05.08.05a.12.12 0 00.07 0c.03 0 .05-.01.09-.05l45.02-45.02a.2.2 0 00.05-.09.12.12 0 000-.07v-.02a.27.27 0 00-.05-.06L557.25 512l127.87-127.86c.04-.04.05-.06.05-.08a.12.12 0 000-.07c0-.03-.01-.05-.05-.09l-45.02-45.02a.2.2 0 00-.09-.05.12.12 0 00-.07 0z"></path></svg>
              <span class="${properties.kcTextErrorMessageClass!}">${kcSanitize(messagesPerField.getFirstError('password','password-confirm'))?no_esc}</span>
          </div>
        </#if>
        <form id="kc-form-login" action="${url.loginAction}" method="post">
          <div class="${properties.kcFormGroupClass!}">
            <label for="password-new" class="${properties.kcLabelClass!}">${msg("passwordNew")}</label>
            <input type="password" id="password-new" name="password-new" class="${properties.kcInputClass!}"
                    autofocus autocomplete="new-password"
                    aria-invalid="<#if messagesPerField.existsError('password','password-confirm')>true</#if>"
            />
            <#if messagesPerField.existsError('password')>
                <span id="input-error" class="${properties.kcInputErrorMessageClass!}" aria-live="polite">
                    ${kcSanitize(messagesPerField.get('password'))?no_esc}
                </span>
            </#if>
          </div>

          <div class="${properties.kcFormGroupClass!}">
            <label for="password-confirm" class="${properties.kcLabelClass!}">${msg("passwordConfirm")}</label>
            <input type="password" id="password-confirm" name="password-confirm"
              class="${properties.kcInputClass!}"
              aria-invalid="<#if messagesPerField.existsError('password-confirm')>true</#if>"
            />

            <#if messagesPerField.existsError('password-confirm')>
              <span id="input-error" class="${properties.kcInputErrorMessageClass!}" aria-live="polite">
                  ${kcSanitize(messagesPerField.get('password-confirm'))?no_esc}
              </span>
            </#if>
          </div>
          
          <div id="kc-form-buttons" class="${properties.kcFormGroupClass!}">
            <input class="${properties.kcButtonClass!} ${properties.kcButtonPrimaryClass!} ${properties.kcButtonBlockClass!} ${properties.kcButtonLargeClass!}" type="submit" value="${msg("doSubmit")}"/>
          </div>
        </form>
      </div>
    </div>
    </#if>
</@layout.registrationLayout>
